<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% newListItems.forEach(function(item) { %>
    <div class="item">
      <form action="/toggle" method="POST" style="flex: 1; display: flex; align-items: center;">
        <input type="hidden" name="itemName" value="<%= item.name %>">
        <input type="hidden" name="list" value="<%= listTitle %>">
        <input type="checkbox" name="done" onchange="this.form.submit()" <%= item.done ? 'checked' : '' %>>
        <p class="<%= item.done ? 'done' : '' %>"><%= item.name %></p>
      </form>

      <form action="/delete" method="POST">
        <input type="hidden" name="itemName" value="<%= item.name %>">
        <input type="hidden" name="list" value="<%= listTitle %>">
        <button type="submit" class="delete-btn">×</button>
      </form>
    </div>
  <% }) %>

  <form class="item" action="/" method="POST">
    <input type="text" name="newItem" placeholder="New Task" autocomplete="off" />
    <input type="hidden" name="list" value="<%= listTitle %>">
    <button type="submit">+</button>
  </form>
</div>

<%- include("footer") -%>
